@media screen and (max-width: 800px) { 
  html {
    font-size: 2vw;
  }
}

.wrap {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 2.5rem;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about > div {
  font-size: 1.5rem;
  margin: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about > div > a {
  text-decoration: none;
}

.blog-image {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}